# Storage
STORAGE_ENDPOINT=https://<your_account_id>.r2.cloudflarestorage.com
STORAGE_ACCESS_KEY_ID=your_access_key_id
STORAGE_SECRET_ACCESS_KEY=your_secret_access_key
STORAGE_BUCKET=your_bucket_name

# Clickhouse
CLICKHOUSE_URL=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DATABASE_DIRECT_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# URLs & CORS
PUBLIC_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=secret

# Deployment/Environment Specific
IS_DOCKER=

# Automatically set environment variables
NODE_ENV=
VERCEL=
